@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --main-color:#0b2447;
    --text:#ffad0d;
    --text2:#02aae9;
    --bg:#0b2447;
    --light-bg:#19376d;
    --white:#fff;
    --border:1.2rem solid #222427;

}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    /* text-transform: uppercase; */
    /* transition: .3s all ease; */
    
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
    
}


body {
    font-family: 'Helvetica', sans-serif;
    background: linear-gradient(to bottom right, #2e82db, #302984);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}



html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: #212529;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

section{
  padding: 2rem 7%;
   
}
a{
  text-decoration: none;
  color: black;
}

.header{
    background-color: #212529;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 7%;
    /* border-bottom: var(--border); */
    position: fixed;
    top: 0; left: 0;right: 0;
    z-index: 1000;
    
}

header.navbar.trans {
  background:transparent !important;   
}

.header .logo img{
  margin-top: 15px;
  height: 4rem;
}

.header .navbar a{
    right: 100%;
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #fff;
    text-transform: uppercase;
}

.header .navbar a:hover{
    color: var(--text);
    border-bottom: .1rem solid var(--text);
    padding-bottom: .5rem;  
}
.button{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin-top: 15px;
  border: none;
  background: none;
  color: var(--white);
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all .15s ease;
}

.button::before,
.button::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7D8082;
  transition: all .15s ease;
}

.button::before {
  top: 0;
  border-bottom-width: 0;
}

.button::after {
  bottom: 0;
  border-top-width: 0;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active::before,
.button:active::after {
  right: 3px;
  left: 3px;
}

.button:active::before {
  top: 3px;
}

.button:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: var(--white);
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: var(--white);
}

.button_lg::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: var(--white);
  transition: all .2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #f7941e;
  transform: skew(-15deg);
  transition: all .2s ease;
}

.button_text {
  position: relative;
}

.button:hover {
  color: var(--white);
}

.button:hover .button_sl {
  width: calc(100% + 15px);
}

.button:hover .button_lg::after {
  background-color: #fff;
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  padding: .9rem 3rem;
  font-size: 1.7rem;
  color: #fff ;
  background: var(--light-bg);
  cursor: pointer;
}

.header .icons div{
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}
.header .icons div:hover{
  color : var(--text);
}
#contact-btn{
  display: none;
}

#menu-btn{
  display: none;
}

/* media queries */
@media (max-width: 991px){
  html{
    font-size: 55%;
  }
.header{
  padding: 1.5rem 2rem;
}
section{
  padding: 2rem;
   
}

}

@media (max-width: 768px){

  #dscontact{
    display: none;
  }

  #contact-btn{
    display: block;
  }

  #menu-btn{
    display: inline-block;
  }

  .header .navbar{
    position: absolute;
    top: 100%; right: -200%;
    background: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
    /* height: 7rem; */
  }

  .header .navbar.active{
    right: 0;
  }

  .header .navbar a{
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: .5rem;
    font-size: 2rem;
    text-transform: uppercase;
  }

}

@media (max-width: 450px){
  html{
    font-size: 50%;
  }
}




.container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    padding: 30px;
    text-align: center;
}

.title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.description {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
}

.form-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 1rem;
}

.submit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
}

.submit-button:hover {
    background-color: #0056b3;
}

.thank-you-message {
    display: none;
    font-size: 1.2rem;
    color: #007bff;
    margin-top: 10px;
}
